* {
  font-family: "Poppins", sans-serif;
  /* outline:1px solid red; */
}

.icon {
  margin-left: 30px;
}
.ellipse{
  position:relative;
  top:70px;
}
#section-a {
  position: relative;
}
.text {
  padding: 3rem;
}
.text h1 {
  font-weight: 600;
  font-size: 3.75rem;
  color: #343434;
}
.text p {
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  color: #343434;
}
.input {
  width: 29.75rem;
  height: 44px;
  background: #e8e8e8;
  border: none;
  border-radius: 30px;
}
.input:focus {
  outline: 0.5px solid rgba(255, 36, 79, 0.5);
}
.button {
  margin-left: -163px;
  background: #ff244f;
  color: #fff;
  border: none;
  box-shadow: 0px 2px 10px rgba(255, 36, 79, 0.5);
  border-radius: 30px;
  width: 158px;
  height: 44px;
  position: relative;
  z-index: 10;
}
.car {
  width: 45%;
}

.sections{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 7rem;
  margin:0 auto;
}
#section-b {
  background-color: #fff5f7;
}
#section-c, #section-e {
  background-color: #ff0a3a;
  color: #fff;
}
#section-d, #section-f {
  background-color: #e5e5e5;
}
.section-text {
  padding:0 8rem;
}
footer{
  background: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .text h1 {
    font-size: 2rem;
  }
  .form {
    text-align: center;
  }
  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .button {
    margin: 10px auto;
    width: 10rem;
  }
  .input {
    width: 20rem;
  }
  .car {
    display: none;
  }
  .ellipse{
    display:none;
  }
  .sections{
    flex-direction: column;
    padding:2rem;
    text-align: center;
  }
  .section-text{
    padding:1rem 0;
  }
}
